<div class="container">
	<div class="row">
		<div class="col text-center">
			<image src="image/1.jpg" alt="Indra" class="image-thumbnail rounded-circle" width="200" />
			<h1 class="display-4">Indra Tristia</h1>
			<p class="lead">Job Seekers | Front End Web</p>
		</div>
	</div>
</div>